{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Pieski</title>
  <link rel="stylesheet" href="{% static 'interface/style.css' %}">
  <script type="text/JavaScript">
    function showResult(){
        var weight = document.getElementById("weight").value;
        var age = document.getElementById("age").value;
        result.innerHTML= weight * age / 5;
    }
</script>
</head>
<body>
    <div class="grid-container">
        <div class="nav">
            <ul>
                <li class="left"><a href="{% url 'index' %}">Home</a></li>
                <li class="left"><a href="{% url 'statistics' %}">Statistics</a></li>
                <li class="left"><a href="{% url 'map' %}">Map</a></li>
                <li class="left"><a class="active" href="{% url 'estimate' %}">Estimate</a></li>
                <li class="right"><a href="{% url 'webscraper_menu' %}">Update database</a></li>
            </ul>
        </div>
        <div class="main">
            <form class="est">
                <p>Enter dog parameters</p>
                <label for="breed">Breed: </label>
                <input type="text" id="breed" name="breed"><br>
                <label for="weigth">Weight:</label>
                <input type="number" id="weight" name="weight" min="0" max="100"><br>
                <label for="age">Age: </label>
                <input type="number" id="age" name="age" min="0" max="25"><br>
                <input type="radio" id="male" name="sex" value="M">
                <label class="sex" for="male">Male</label><br>
                <input type="radio" id="female" name="sex" value="F">
                <label class="sex" for="female">Female</label><br>
                <input type="button" onclick="showResult()" value="Show">
            </form>
            <p class="result"> Estimated months spent in shelter: <span id = "result"></span></p>
        </div>
    </div>
</body>