{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Pieski</title>
  <link rel="stylesheet" href="{% static 'interface/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <div class="grid-container">
        <div class="nav">
            <ul>
                <li class="left"><a href="{% url 'index' %}">Home</a></li>
                <li class="left"><a class="active" href="{% url 'statistics' %}">Statistics</a></li>
                <li class="left"><a href="{% url 'estimate' %}">Estimate</a></li>
                <li class="right"><a href="{% url 'webscraper_menu' %}">Update database</a></li>
            </ul>
        </div>

        <div class="main stats">
            <canvas id="weightChart" class="chartW"></canvas>
            <canvas id="ageChart" class="chartA"></canvas>
            <table class="links">
                <caption>List</caption>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>link</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <script>
        fetch('{% url 'API_weights' %}')
            .then(response => response.json())
            .then(data => {
                data = data["pets_by_weight"]
                console.log(data);
                var xValues = [];
                var yValues = [];

                data.sort(function(a, b) {
                    return a.weight - b.weight;
                  });

                for (var element in data) {
                    console.log(element);
                    xValues.push(data[element]["weight"]);
                    yValues.push(data[element]["count"]);
                }

                console.log(xValues);
                console.log(yValues);

                var barColors = "rgb(84, 8, 147)";
                const weightChart = new Chart("weightChart", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {display: false},
                        title: {
                            display: true,
                            text: "Weight distribution in kg"
                        }
                    }
                });
                function clickWeightHandler(click) {
                    const points = weightChart.getElementsAtEventForMode(click, 'nearest', {
                        intersect: true}, true);
                    if (points[0]) {
                        const dataset = points[0]._datasetIndex;
                        const index = points[0]._index;
                        const value = weightChart.data.datasets[dataset].data[index];
                        const caption = document.querySelectorAll('caption');
                        var capt = "Weigth: " + index + " kg";
                        caption[0].innerText = capt;
                        const tr = document.querySelectorAll('caption');
                        console.log(click);
                        const body = document.querySelectorAll('tbody');
                        var text = "";
                        fetch('{% url 'API_get_pets_weight' 50 %}')
                        .then(response => response.json())
                        .then(data => {
                            data = data["pets"];
                            const obj = JSON.parse(data);
                            for (var element in obj) {
                                text += "<tr><td>";
                                text += obj[element]["fields"]["name"];
                                text += "</td><td><a href='https://napaluchu.waw.pl";
                                text += obj[element]["fields"]["link"];
                                text += "' target=”_blank” >";
                                text += obj[element]["fields"]["link"];
                                text += "</a></td></tr>";
                            }
                            body[0].innerHTML = text;
                        });

                    }
                }
                weightChart.canvas.onclick = clickWeightHandler;
            });
            

        fetch('{% url 'API_ages' %}')
            .then(response => response.json())
            .then(data => {
                data = data["pets_by_age"]
                console.log(data);
                var xValues = [];
                var yValues = [];

                data.sort(function(a, b) {
                    return a.age - b.age;
                  });

                for (var element in data) {
                    console.log(element);
                    xValues.push(data[element]["age"]);
                    yValues.push(data[element]["count"]);
                }

                console.log(xValues);
                console.log(yValues);

                var barColors = "rgb(84, 8, 147)";
                const ageChart = new Chart("ageChart", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {display: false},
                        title: {
                            display: true,
                            text: "Age distribution in months"
                        }
                    }
                });
                function clickAgeHandler(click) {
                    const points = ageChart.getElementsAtEventForMode(click, 'nearest', {
                        intersect: true}, true);
                    if (points[0]) {
                        const dataset = points[0]._datasetIndex;
                        const index = points[0]._index;
                        const value = ageChart.data.datasets[dataset].data[index];
                        const caption = document.querySelectorAll('caption');
                        var capt = "Age: " + index + " months";
                        caption[0].innerText = capt;
                        const tr = document.querySelectorAll('caption');
                        console.log(click);
                        const body = document.querySelectorAll('tbody');
                        var text = "";
                        fetch('{% url 'API_get_pets_age' 6 %}')
                        .then(response => response.json())
                        .then(data => {
                            data = data["pets"];
                            const obj = JSON.parse(data);
                            for (var element in obj) {
                                text += "<tr><td>";
                                text += obj[element]["fields"]["name"];
                                text += "</td><td><a href='https://napaluchu.waw.pl";
                                text += obj[element]["fields"]["link"];
                                text += "' target=”_blank” >";
                                text += obj[element]["fields"]["link"];
                                text += "</a></td></tr>";
                            }
                            body[0].innerHTML = text;
                        });

                    }
                }
                ageChart.canvas.onclick = clickAgeHandler;
            });
    </script>
</body>
</html>